[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2 = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "*"
pandas = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
flask-restful = "*"
flask-cors = "*"
modal = "*"
flask-jsonpify = "*"
marshmallow-sqlalchemy = "*"
flask-mail = "*"

[dev-packages]

[requires]
python_version = "3.12"
