<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráficos</title>
    <link rel="stylesheet" type= "text/css" href= "../static/styles/styles.css">
    <link rel="stylesheet" type= "text/css" href= "../static//styles/table.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
</head>
<body>
    <main>
        <h1 class="apresentacao apresentacao__conteudo__titulo titulo-destaque">Painel do administrador</h1>

        <section class="apresentacao__graficos">
            <div id="myChart" style="width:50%; height:400px"></div>
            <div id="myChart2" style="width:50%; height:400px"></div>
        </section>
        
        <section class="table__header">
            <h1 class="apresentacao__conteudo__texto">Temperaturas</h1>
        </section>
        <section class="table__body">
            <table id="table">
                <thead class="display apresentacao__conteudo__texto">
                    <tr>
                        <th> Id</th>
                        <th> Temperatura</th>
                        <th> Umidade</th>
                        <th> Data</th>
                        <th id="button"></th>
                    </tr>
                </thead>
                <tbody id="tableBody" class="apresentacao__conteudo__texto">
                 
                </tbody>
            </table>
            <div id="pagination"></div>
        </section>
    </main>

</body>
</html>

<script src="../static/js/jQuery.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="../static/js/geraGraficos.js"></script>
<script src="../static/js/table.js"></script>

